/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    margin: 0;
    padding: 0;
    

}

h1{
    text-align: center;
}

.container{
    
    box-shadow: 0 0 1px blue;
    display: flex;
    margin-bottom: 1rem;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    

}

.item{
    flex: auto;
    text-align: center;
    background-color: brown;
    padding: 1rem;
    margin: 0 10px;
  
    

    }

.item:nth-child(even){
    background-color: blueviolet;
}
.item-20{
    flex: 1 1 20%;
    padding: 0;
    
    
    
    
}
.item-80{
    flex: 1 1 80%;
    padding: 0;
      
   
    
}

/* cuadricula flexbox */

.containe{

   width: 600px;
   height: 400px;
   display: flex;
   margin: auto;
   background-color: lightblue;
   flex-wrap: wrap;
   justify-content: space-between;
   
}

.items{
    background-color: tomato;
    color: white;
    width: 23%; 
    margin-bottom: 2%;
    text-align: center;
    
    
}

/* ejemplo3 */

.body-3{
    display: flex;
    justify-content: center;
}

.coontainrs{
    width: 500px;
    height: 300px;
    background: url(http://lorempixel.com/500/300);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 0 0 10px #fff,
                0 0 0 13px black,
                0 10px -12px 5px rgba(0,0,0, 0.09); 
      

}
:hover .texto{

    top:0;
    transition: all .8s;
    border: 2px dotted gray;
    
    
}

.texto{  
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0,0, 0.8);
    color: white;
    text-align: center;
    padding: 0 1rem;
   
    position: relative;
    top: 100%;

}


